<h1>{{display}}</h1>
<h2>Analog</h2>

<h3>Content from contentstack should appear here:</h3>
<div>
  <section>Content begin==========</section>
  <section [innerHtml]="serverData()?.cstk?.content"></section>
  <section>============Content end</section>
</div>
<div class="card">
  <button type="button" (click)="increment()">Count {{ count() }}</button>
</div>

<p class="read-the-docs">
  For guides on how to customize this project, visit the
  <a href="https://analogjs.org" target="_blank">Analog documentation</a>
</p>